html
  head
    title Start Page
    if !everythingIsHealthy
        script.
            setTimeout(() => document.location.reload(), 1000)
  body
    h1 Status
    table
        tr
            th API
            td= statuses.api
        tr
            th UI
            td= statuses.ui
    div!= readme